html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(201, 145, 201);
}

.form{
    background-color: #DE5499;
    border: none;
    border-color: #DE5499;
}

.container {
    width: 100%;  
    height: 100%;
    background-color: #000000;
    background-image: radial-gradient(#f75454 10%, transparent 10%),
      radial-gradient(#f75454 10%, transparent 10%),
      linear-gradient(
        45deg,
        rgba(247, 84, 84, 0.3) 25%,
        transparent 25%,
        transparent 75%,
        rgba(247, 84, 84, 0.3) 75%
      ),
      linear-gradient(
        -45deg,
        rgba(247, 84, 84, 0.3) 25%,
        transparent 25%,
        transparent 75%,
        rgba(247, 84, 84, 0.3) 75%
      );
    background-size:
      100px 100px,
      100px 100px,
      50px 50px,
      50px 50px;
    background-position:
      0 0,
      50px 50px,
      0 0,
      25px 25px;
  }
  
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(201, 145, 201);
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    /* padding : 20px; */
    box-sizing: border-box;
    border-radius:  rgb(201, 145, 201);
  }
  
.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
  }
  
.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
  }
  
.sub_title {
    font-weight: 600;
    margin: 5px 0;
  }
  
.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
  }
  
.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  
.form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
  }
  
.btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #DE5499;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
  }
  
.btn:hover {
    opacity: .9;
  }
  
.link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
  }
